@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  /* Colors */
  --darkBlue1: #3b447a;
  --darkBlue2: #222b5f;
  --darkBlue3: #0a0f19;
  --darkBlue4: #101826;
  --mediumSlateBlue: #6c62e2;
  --lightBlue1: #f3f1fe;
  --lightBlue2: #adbde3;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--lightBlue1);
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0, auto;
}

img,
svg {
  width: 100%;
  height: 100%;
}
